.App {
  text-align: center;
  align-items: center;
  margin: auto;
}

.containerRadar {
  width: 16cm;
  margin: auto;
  background-image: url("../public/radar.jpeg");
  background-size: cover;
  background-position: 1.5cm;
  background-size: 15.8cm;
  background-position-y: 1.3cm;
  background-repeat: no-repeat;
}

.containerRadarMobile {
  width: 12cm;
  margin: auto;
  background-image: url("../public/radar.jpeg");
  background-size: cover;
  background-position: 2.65cm;
  background-size: 6.8cm;
  background-position-y: 1.6cm;
  background-repeat: no-repeat;
}

h1 {
  font-size: 2.5vw;
}

@media screen {
}
