.App {
  text-align: center;
}

.containerRadar {
  height: 77vh;
  width: 100vh;
  margin: auto;
  background-image: url("../public/radar.jpeg");
  background-size: cover;
  background-position: 1.7cm;
  background-size: 13.4cm;
  background-position-y: 1.35cm;
  background-repeat: no-repeat;
}
