.App {
  text-align: center;
  align-items: center;
  margin: auto;
}

.containerRadar {
  width: 100vh;
  margin: auto;
  background-image: url("../public/radar.jpeg");
  background-size: cover;
  background-position: 1.5cm;
  background-size: 15.8cm;
  background-position-y: 1.3cm;
  background-repeat: no-repeat;
}

h1 {
  font-size: 3vw;
}
